<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EndpointAddress" connectionString="jYXjqj8wRKerrP1JsGs0kziLw+lCv1eXkU6rgcUKFkg="/>
  </connectionStrings>
  <appSettings>
    <!--0 直接读取，返回首位不带0的十进制字符串；1 直接读取转换为16进制；2 位置调换后的16进制；3 位置调换后、首位不带0的十进制字符串-->
    <add key="CardSnType" value="0"/>
    <!--卡列号长度：Full 长度为标准8位或者10位，不足前面补0；Part 长度为转换后的默认长度-->
    <add key="cardSnLength" value="Part"/>
    <!--读卡器接口-->
    <add key="ICardReader" value="CardReaderObject.CardReaderObject,CardReaderObject"/>
    <!--读卡操作接口-->
    <add key="IPOSMethod" value="PosObject.PosObject,PosObject"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
